/* Body background and global styles */
body {
  background-image: url('./img/jazz.png');
  background-color: #f4f4f4; /* Light gray background */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

/* Flex container for main layout */
.app-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}


.amortization-container, .calculator-container {
  flex: 1;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 50px;
  background-color: #187e9d;
}

/* Scrollable content container */
.schedule-table-container {
  overflow-y: auto;
  max-height: 550px;
  position: relative;
}

/* Visual cue for draggable area at the bottom of the table */
/* .schedule-table-container:after {
  content: 'Drag Me';
  display: block;
  background-color: #fff;
  color: #47093b;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: grab;
} */

/* Form elements styling */
.input-field,
.select-field,
.submit-button {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #47093b;
  border-radius: 4px;
}

/* Submit button with gradient and hover effects */
.submit-button {
  background: linear-gradient(to bottom, #fcfcfc, #d4d4d4);
  color: #333;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  font-family: 'Faster One', cursive;
  color: #47093b;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.submit-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), transparent);
  border-radius: 30px;
}

.submit-button:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
}

/* Margin bottom for form elements */
.margin-bottom-15 {
  margin-bottom: 15px;
}

/* Styling for headers */
h3 {
  font-family: 'Bangers', cursive;
  color: #c8f017;
  background: none; /* Remove background gradient */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: initial; /* Use default text fill color */
}

/* Additional styles for text */
.faster-one-regular, h1 {
  font-family: "Faster One", cursive;
  color: #4f1242;
}

.bangers-regular {
  font-family: "Bangers", cursive;
}
.drag-handle, .app-container {
  background-color: transparent; 
  text-align: center;
  padding: 4px;
  cursor: grab;
}
